In [2]:
from utilities import create_fred_client
fred_client = create_fred_client()

In [5]:
fred_client.get_series_first_release('GDP')

/Users/gafnts/Documents/Github/macro-forescasts/.venv/lib/python3.13/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

date
1946-01-01        199.7
1946-04-01        207.7
1946-07-01        217.9
1946-10-01        222.2
1947-01-01        226.7
                ...
2023-07-01    27623.543
2023-10-01    27938.831
2024-01-01    28284.498
2024-04-01    28629.153
2024-07-01    29349.924
Name: value, Length: 315, dtype: object

In [4]:
fred_client.get_series_latest_release('GDP')

1946-01-01          NaN
1946-04-01          NaN
1946-07-01          NaN
1946-10-01          NaN
1947-01-01      243.164
                ...
2023-07-01    27967.697
2023-10-01    28296.967
2024-01-01    28624.069
2024-04-01    29016.714
2024-07-01    29374.914
Length: 315, dtype: float64

In [8]:
fred_client.get_series_as_of_date('GDP', '6/1/2014')

           realtime_start                 date    value
0     1992-12-22 00:00:00  1946-01-01 00:00:00    199.7
1     1996-01-19 00:00:00  1946-01-01 00:00:00      NaT
2     1997-05-07 00:00:00  1946-01-01 00:00:00    210.4
3     1999-10-28 00:00:00  1946-01-01 00:00:00      NaT
4     1992-12-22 00:00:00  1946-04-01 00:00:00    207.7
...                   ...                  ...      ...
2854  2014-01-30 00:00:00  2013-10-01 00:00:00  17102.5
2855  2014-02-28 00:00:00  2013-10-01 00:00:00  17080.7
2856  2014-03-27 00:00:00  2013-10-01 00:00:00  17089.6
2864  2014-04-30 00:00:00  2014-01-01 00:00:00  17149.6
2865  2014-05-29 00:00:00  2014-01-01 00:00:00  17101.3

[2168 rows x 3 columns]

In [9]:
fred_client.get_series_all_releases('GDP')

           realtime_start                 date      value
0     1992-12-22 00:00:00  1946-01-01 00:00:00      199.7
1     1996-01-19 00:00:00  1946-01-01 00:00:00        NaT
2     1997-05-07 00:00:00  1946-01-01 00:00:00      210.4
3     1999-10-28 00:00:00  1946-01-01 00:00:00        NaT
4     1992-12-22 00:00:00  1946-04-01 00:00:00      207.7
...                   ...                  ...        ...
3196  2024-08-29 00:00:00  2024-04-01 00:00:00  28652.337
3197  2024-09-26 00:00:00  2024-04-01 00:00:00  29016.714
3198  2024-10-30 00:00:00  2024-07-01 00:00:00  29349.924
3199  2024-11-27 00:00:00  2024-07-01 00:00:00  29354.321
3200  2024-12-19 00:00:00  2024-07-01 00:00:00  29374.914

[3201 rows x 3 columns]

In [12]:
fred_client.search('GDP').query("id == 'GDP'")

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
GDP,GDP,2025-01-04,2025-01-04,Gross Domestic Product,1947-01-01,2024-07-01,Quarterly,Q,Billions of Dollars,Bil. of $,Seasonally Adjusted Annual Rate,SAAR,2024-12-19 07:55:01-06:00,93,BEA Account Code: A191RC Gross domestic produ...